# Connecting to a remote MariaDB (classicmodels) from Jupyter Notebook

In [ ]:
import pymysql
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#load ipython-sql
%load_ext sql

In [ ]:
# What RDMS we are using + what DBAPI we are using
# 
%sql mysql+pymysql://root:<password>!@<ip address>:3306/classicmodels

In [ ]:
%sql use classicmodels

In [ ]:
%sql SHOW TABLES;

In [ ]:
%sql DESCRIBE customers

In [ ]:
%sql DESCRIBE payments

# Quick Visualization Examples

In [ ]:
%%sql
# How many customers
SELECT COUNT(DISTINCT customerNumber)
FROM customers

In [ ]:
%%sql
# How many customers by country
SELECT COUNT(customerNumber) AS Count, country AS Country
FROM customers 
GROUP BY country DESC

In [ ]:
# save the query results from the last cell. You can also just do result = <your SQL query>
result = _

In [ ]:
# save the last query to a .csv file
result.csv(filename='test_query.csv')

In [ ]:
# create a df from the last query 
df1=pd.DataFrame(result)

In [ ]:
# visualize the df
df1.plot(x='Country', y= 'Count', kind="bar")
legend = plt.legend(title="# of Customers by Country", loc=0, fontsize='small', fancybox=False)
plt.show()

In [ ]:
%%sql
# biggest customers by total amount spent
SELECT customerNumber AS Customer_ID, COUNT(checkNumber) AS Payments, SUM(amount) AS Total_Amount, 
   CAST((SUM(amount)/COUNT(checkNumber)) AS DECIMAL(10,2)) AS avg_per_Payment
FROM payments
GROUP BY customerNumber
ORDER BY MAX(amount) DESC

In [ ]:
%%sql
# most important customers by RFA
SELECT customerNumber AS Customer_ID, MAX(paymentDate) AS Last_Payment, COUNT(checkNumber) AS Orders_this_Year, SUM(amount) AS Total_Amount
FROM payments 
WHERE paymentDate >= '2005-01-01'  
GROUP BY customerNumber
HAVING Orders_this_Year > 1 
ORDER BY Last_Payment DESC

In [ ]:
result = _

In [ ]:
df2=pd.DataFrame(result)

In [ ]:
df2.Orders_this_Year = df2.Orders_this_Year.astype(int)

In [ ]:
df2.plot(kind='bar', x='Customer_ID', secondary_y= 'Total_Amount')
plt.show()